@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    cursor: default;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* whater wrapper layout styles */
.current-card {
    flex: 1;
    color: #232931;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px 13px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    /* justify-content: start; */
}

.weather-headings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-details {
    font-size: 1rem;
    font-weight: 300;
}

.temp {
    font-size: 8rem;
}

.weather {
    font-weight: 400;
}

.current-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.current-details i {
    margin-right: 6px;
}

.current-details>p {
    padding: 0 6px;
}

/* //search input wrapper styles */
.search-wrapper {
    flex: 1;
    padding: 22px 0;
}

.search-icon {
    margin-right: 4px;
    cursor: pointer;
}

footer {
    flex: 1;
    font-size: 0.8rem;
    padding: 4px 0;
}

.search-wrapper input {
    outline: none;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #4ECCA3;
    background-color: #EEEEEE;
    color: #232931;
    font-size: 1.3rem;
}

/* days wrapper styles */
.days-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: #4ECCA3; */
    padding: 15px;
}

.day-card {
    background-color: #4ECCA3;
    width: 140px;
    /* height: 160px; */
    color: #EEEEEE;
    margin: 3px;
    padding: 17px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.weather-temp {
    font-size: 2rem;
}

.weather-date {
    font-weight: 400;
}

.weather-title {
    font-weight: 700;
    font-size: 0.9rem;
}

.load {
    width: 2rem;
    height: 2rem;
    border: 5px solid #4ECCA3;
    border-top: 6px solid #232931;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

.load.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    color: #4ECCA3;
    padding-left: 25px;
}